<% provide(:title, 'Home') %>
<div class="container-fluid">
    <div id="home_content" class = "jumbotron">
        Hi there!<br>
        My name is Ivan Zverev.<br>
        I'm from Ukraine (Kiev).<br>
        And I think I'm Ruby on Rails developer :)<br>
    </div>
    <%= image_tag("ava.jpg", :alt => "rss feed", :class => "img-rounded", :id => "avatar") %>
</div>