@import "bootstrap";

$brightOrange: rgb(250, 92, 7);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

body {
    padding-top: 70px;
}

#header {
    background-color: $brightOrange;
}

.navbar .nav > li > a {
    color:  black;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: $white;
  text-decoration: none;
}
